<div class="ui center aligned container">
    <div class="text">
        <span class="red">Cam</span>
        <span class="orange">ale</span>
        <span class="yellow">on G</span>
        <span class="green">en</span>
        <span class="blue">éti</span>
        <span class="purple">co</span>
    </div>
    <div class="ui center aligned segment">
        <a class="ui circular label huge"
            *ngFor="let elem of combinacionElegida ; index as i" 
            [ngClass]="elem.nombre + '-bg'"
            >
        </a>
    </div>
    <div class="ui center aligned container selector">
        <!-- Añadir colores -->
        <a class="ui circular label massive selector"  
        *ngFor="let elem of colores" 
        [ngClass]="elem.nombre + '-bg'"
        >
    </a>
    </div>
</div>

