<!-- NEW -->
<div class="ui center aligned container m-2">
    <!-- Combinación elegida -->
    <div class="ui center aligned text-secondary segment">
        <div class="ui disabled header large descripcion" *ngIf="combinacionElegida.length==0">
            Elija algún color para comenzar</div>
        <a class="ui circular label huge"
            *ngFor="let elem of combinacionElegida ; index as i" 
            [ngClass]="elem.nombre + '-bg'"
            (click)="eliminarColorSeleccionado(i)"
            >
        </a>
    </div>
    <!-- Añadir colores -->
    <div class="ui center aligned container selector">
        <a class="ui circular label massive selector"  
        *ngFor="let elem of colores" 
        [ngClass]="elem.nombre + '-bg'"
        (click)="addColorSeleccionado(elem)"
        >
    </a>
    </div>
    <div class="ui primary button bar huge"
        (click)="jugarPartida()"
        [ngClass]="{'disabled': this.isPlaying() || combinacionElegida.length==0}"
        >
        ¡ Jugar ! 
    </div>
</div>

<!-- Mostrar procedimiento -->

<div class="ui two column stackable grid container">
    <div class="eight wide column">
        <div class="ui center aligned container" *ngIf="jugando || this.hasWon()">
            <div class="ui center aligned segment container">
                <div class="ui header"> Generación {{generacionActual}} </div>
                <div class="ui center aligned container">
                    <div class="ui" *ngFor="let item of this.poblacionParaMostrar()">
                        <div class="ui horizontal circular label"  
                        *ngFor="let color of item.combinacion" 
                        [ngClass]="color.nombre+'-bg'"
                        ></div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <!-- Mostrar ganador -->
    <div class="wight wide column">
        <app-informe-juego
            class="ui center aligned container"
            [hasGanado] = "hasWon()"
            [jugando] = "jugando"
            [combinacionGanadora]="ganador()"
            [cantGeneraciones]="generacionActual"
            >
        </app-informe-juego>
    </div>
</div>
