<!-- Título de la página -->
<app-header></app-header>
<!-- Seleccion de clave -->
<app-inicio-juego 
    (eligeCombinacion)="combinacionElegida=$event"
    (jugar)="ejecutarProgramaGenetico()"
    [jugando] = "jugando"
></app-inicio-juego>

<div class="ui two column stackable grid container">
    <!-- Mostrar procedimiento -->
    <div class="eight wide column">
        <div class="ui center aligned container" *ngIf="jugando || hasGanado">
            <div class="ui center aligned segment container">
                <div class="ui header"> Generación {{this.generacionActual}} </div>
                <div class="ui center aligned container">
                    <div class="ui" *ngFor="let item of poblacionParaMostrar">
                        <div class="ui horizontal circular label"  
                        *ngFor="let color of item.combinacion" 
                        [ngClass]="color.nombre+'-bg'"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mostrar ganador -->
    <div class="wight wide column">
        <app-informe-juego
            class="ui center aligned container"
            [hasGanado] = "hasGanado"
            [jugando] = "jugando"
            [combinacionGanadora]="ganador.combinacion"
            [cantGeneraciones]="generacionActual"
            >
        </app-informe-juego>
    </div>
</div>




<!-- OLD -->
<!-- <app-presentacion></app-presentacion> -->
<div class="ui raised segments center " *ngIf="jugando || hasGanado">
    
</div>