<div class="ui center aligned text container pt-5">
    <div class="ui two column stackable grid">
        <div class="eight wide column">
            <div class="ui centered card move left reveal">
                <div class="visible content blue-bg">
                    <div class="ui header large white">Adivina la clave</div>
                    <div class="description">Tendrás diez intentos para adivinar una clave de cinco colores elegidos al azar</div>
                </div>
                <a class="hidden content">
                    <div class="ui huge header white">Jugar</div>
                </a>
            </div>
        </div>
        <div class="eight wide column">
            <div class="ui centered card move right reveal">
                <div class="visible content green-bg">
                    <div class="ui header large white">Elige la clave</div>
                    <div class="description">Observa cómo la IA encuentra tu clave aplicando un Algoritmo Genético</div>
                </div>
                <a class="hidden content" href="/auto">
                    <div class="ui grey huge header">Jugar con la IA</div>
                </a>
            </div>
        </div>
    </div>
    <div class="ui white inverted header large">¡Selecciona el modo de juego!</div>
</div>