<!-- <div class="circular ui button"> Press me</div> -->

<div class="ui raised segments center">
    <div class="ui segment">
        <div class="ui center aligned header huge">
            Camaleón Genético
        </div>
        <div class="ui centered card">
            <!--6 Botones de colores con semantic-ui-->
            <div class="ui buttons">
                <button class="ui button"  
                    *ngFor="let elem of combinacionElegida ; index as i" 
                    [ngClass]="elem.nombre"
                    (click)="cambiarColor = true; colorSeleccionado = i"
                ></button>          
            </div>
        </div>
        <div class="ui container center aligned">
            <div class="ui secondary button large"
                (click)="ejecutarAlgoritmoGenetico()"
                [ngClass]="{'disabled': !hasGanado}"
                >
                ¡ Jugar ! 
            </div>
        </div>
    </div>
    <!-- Cambia de colores -->
    <div class="ui segment" *ngIf="cambiarColor">
        <div class="ui center aligned header"> Selecciona el nuevo color </div>
        <div class="ui center aligned container">
            <div class="ui buttons">
                <button class="ui button"  
                    *ngFor="let elem of colores" 
                    [ngClass]="elem.nombre"
                    (click)="cambiarColor = false; cambiarColorSeleccionado(elem)"
                ></button>
            </div>
        </div>
    </div>
    <!-- Mostrar generaciones -->
    <div class="ui segment" *ngIf="!hasGanado">
        <div class="ui center aligned header"> Generación {{this.generacionActual}} </div>
        <div class="ui center aligned container">

                <div class="ui" *ngFor="let item of poblacionParaMostrar">
                    <div class="ui horizontal circular label"  
                        *ngFor="let color of item.combinacion" 
                        [ngClass]="color.nombre"
                    ></div>
                </div>

        </div>
    </div>
</div>