<!-- <div class="circular ui button"> Press me</div> -->

<div class="container">
    <div class="ui header">
        asdasd
    </div>
</div>
<div style="width: 686px; height: 432px; position: relative; background: #18181B">
    <div style="width: 62px; height: 62px; left: 152px; top: 206px; position: absolute; background: #F87171; border-radius: 9999px"></div>
    <div style="width: 62px; height: 62px; left: 232px; top: 206px; position: absolute; background: #FDE047; border-radius: 9999px"></div>
    <div style="width: 62px; height: 62px; left: 232px; top: 206px; position: absolute; background: #FDE047; border-radius: 9999px"></div>
    <div style="width: 62px; height: 62px; left: 312px; top: 206px; position: absolute; background: #4ADE80; border-radius: 9999px"></div>
    <div style="width: 62px; height: 62px; left: 392px; top: 206px; position: absolute; background: #38BDF8; border-radius: 9999px"></div>
    <div style="width: 62px; height: 62px; left: 472px; top: 206px; position: absolute; background: #A78BFA; border-radius: 9999px"></div>
    <div style="width: 535px; height: 40px; left: 75px; top: 114px; position: absolute; background: #E4E4E7; border-radius: 9px"></div>
    <div style="width: 26px; height: 27px; left: 244px; top: 121px; position: absolute; background: #F87171; border-radius: 9999px"></div>
    <div style="width: 27px; height: 27px; left: 278px; top: 121px; position: absolute; background: #A78BFA; border-radius: 9999px"></div>
    <div style="width: 27px; height: 27px; left: 312px; top: 121px; position: absolute; background: #4ADE80; border-radius: 9999px"></div>
    <div style="width: 27px; height: 27px; left: 346px; top: 121px; position: absolute; background: #38BDF8; border-radius: 9999px"></div>
    <div style="width: 26px; height: 27px; left: 381px; top: 121px; position: absolute; background: #38BDF8; border-radius: 9999px"></div>
    <div style="width: 26px; height: 27px; left: 415px; top: 121px; position: absolute; background: #FDE047; border-radius: 9999px"></div>
    <div style="width: 179px; height: 42px; left: 253px; top: 320px; position: absolute">
      <div style="width: 179px; height: 42px; left: 0px; top: 0px; position: absolute; background: #E4E4E7; border-radius: 9px"></div>
      <div style="width: 172.56px; height: 31.23px; left: 6.44px; top: 5.38px; position: absolute; text-align: center; color: #18181B; font-size: 24px; font-family: Inter; font-weight: 600; word-wrap: break-word">Empezar!</div>
    </div>
    <div style="width: 459px; height: 77px; left: 116px; top: 22px; position: absolute; text-align: center"><span style="color: #F87171; font-size: 48px; font-family: Inter; font-weight: 700; word-wrap: break-word">Cam</span><span style="color: #FDE047; font-size: 48px; font-family: Inter; font-weight: 700; word-wrap: break-word">ale</span><span style="color: #4ADE80; font-size: 48px; font-family: Inter; font-weight: 700; word-wrap: break-word">ón </span><span style="color: #4ADE80; font-size: 40px; font-family: Inter; font-weight: 700; word-wrap: break-word">G</span><span style="color: #38BDF8; font-size: 40px; font-family: Inter; font-weight: 700; word-wrap: break-word">ené</span><span style="color: #A78BFA; font-size: 40px; font-family: Inter; font-weight: 700; word-wrap: break-word">tico</span></div>
    <div style="width: 171px; height: 171px; left: 452px; top: 277.84px; position: absolute; transform: rotate(-30.91deg); transform-origin: 0 0; background: rgba(255, 255, 255, 0)">
      <div style="width: 66.52px; height: 90.78px; left: 52.55px; top: 131.41px; position: absolute">
        <div style="width: 4.01px; height: 12.71px; left: 24.04px; top: -78.07px; position: absolute; background: #E5E5E5"></div>
        <div style="width: 10.48px; height: 9.82px; left: 6.77px; top: -74.15px; position: absolute; background: #E5E5E5"></div>
        <div style="width: 10.45px; height: 9.81px; left: 34.91px; top: -74.17px; position: absolute; background: #E5E5E5"></div>
        <div style="width: 62.87px; height: 72.35px; left: 3.65px; top: 0px; position: absolute; background: #E5E5E5"></div>
        <div style="width: 12.69px; height: 4.08px; left: -0px; top: -63.81px; position: absolute; background: #E5E5E5"></div>
        <div style="width: 12.64px; height: 4.07px; left: 39.64px; top: -63.81px; position: absolute; background: #E5E5E5"></div>
      </div>
    </div>
  </div>