<!-- <div class="circular ui button"> Press me</div> -->

<div class="container center">
    <div class="ui segment">
        <div class="ui center aligned header huge">
            Camaleón Genético
        </div>
        <div class="ui centered card">
            <!--6 Botones de colores con semantic-ui-->
            <div class="ui buttons">
                <button class="ui button"  
                    *ngFor="let elem of combinacionElegida" 
                    [ngClass]="selected ? 'active '+elem.nombre : elem.nombre"
                    (click)="cambiarColor = true; selected = true;"
                    (blur)="selected=false"
                ></button>          
            </div>
        </div>
        <div class="fluid ui secondary button"
            (click)="ejecutarAlgoritmoGenetico()">
            ¡ Jugar ! 
        </div>
    </div>
    <!-- Cambia de colores -->
    <div class="ui segment" *ngIf="cambiarColor">
        <div class="ui center aligned header"> Selecciona el nuevo color </div>
        <div class="ui center aligned container">
            <div class="ui buttons">
                <button class="ui button"  
                    *ngFor="let elem of colores" 
                    [ngClass]="elem.nombre"
                    (click)="cambiarColor = false;"
                ></button>
        </div>
    </div>
</div>