/* You can add global styles to this file, and also import other style files */
@import 'semantic-ui-css/semantic.css';

body{
  /* Background color same visual studio gray*/
  background-color: #18181B;
}
.pt-5{
  padding-top: 5% !important;
}
.m-2{
  margin-top: 2% !important;
}

.segment{
  border-radius: 16px !important;
}

/* Colors */

.red{
  color: #F87171 !important;
}
.white{
  color: #FFFFFF !important;
}
.orange{
  color: #fb923c !important;
}
.yellow{
  color: #FDE047 !important;
}
.green{
  color: #4ADE80 !important;
}
.blue{
  color: #38BDF8 !important;
}
.purple{
  color: #A78BFA !important;
}
.red-bg{
  background-color: #F87171 !important;
}
.orange-bg{
  background-color: #fb923c !important;
}
#red-orange-bg{
  background-color: #F87171 !important;
  background-image: linear-gradient(to right, #F87171, #fb923c);
}
.yellow-bg{
  background-color: #FDE047 !important;
}
.green-bg{
  background-color: #4ADE80 !important;
}
.blue-bg{
  background-color: #38BDF8 !important;
}
.purple-bg{
  background-color: #A78BFA !important;
}
#blue-purple-bg{
  background-color: #38BDF8 !important;
  background-image: linear-gradient(to right, #38BDF8, #A78BFA);
}
.grey-bg{
  background-color: #4B5563 !important;
}
.white-bg{ 
  /* same as semantic-ui's white */
  background-color: #FFFFFF !important;
}