/* You can add global styles to this file, and also import other style files */
@import 'semantic-ui-css/semantic.css';

body{
  /* Background color same visual studio gray*/
  background-color: #18181B;
}
.m-2{
  margin-top: 2%;
}

.pt-5{
  padding-top: 5vh;
}

.segment{
  border-radius: 16px !important;
}

/* Colors */

.red{
  color: #F87171 !important;
}
.orange{
  color: #fb923c !important;
}
.yellow{
  color: #FDE047 !important;
}
.green{
  color: #4ADE80 !important;
}
.blue{
  color: #38BDF8 !important;
}
.purple{
  color: #A78BFA !important;
}
.white{
  color: #FFFFFF !important;
}
.red-bg{
  background-color: #F87171 !important;
}
.orange-bg{
  background-color: #fb923c !important;
}
.yellow-bg{
  background-color: #FDE047 !important;
}
.green-bg{
  background-color: #4ADE80 !important;
}
.blue-bg{
  background-color: #38BDF8 !important;
}
.purple-bg{
  background-color: #A78BFA !important;
}
.no-bg{
  background-color: rgba(0,0,0,0) !important;
}