<div class="ui centered segment container m-2">
    <div class="ui two column stackable grid container">
        <div class="sixteen wide column">
            <div class="ui centered aligned huge header">
                Cruzando individuos
            </div>
        </div>
        <div class="seven wide column">
            <div class="ui center aligned header">
                aqui la vieja poblacion
            </div>
        </div>
        <div class="two wide column">
            <div class="ui center aligned header">
                ->
            </div>
        </div>
        <div class="seven wide column">
            <div class="ui center aligned header">
                aqui la nueva
            </div>
        </div>
    </div>
</div>