<div class="ui centered segment container m-2">
    <div class="ui two column stackable grid container">
        <div class="sixteen wide column">
            <div class="ui centered aligned huge header">
                Cruzando individuos
            </div>
        </div>
        <div class="seven wide column">
            <div class="ui center aligned header">
                Poblacion Seleccionada
            </div>
            <div class="ui center aligned container">
                <div *ngFor="let genoma of poblacionParaMostrar.poblacion; index as i">
                    <a class="ui circular label small"
                    *ngFor="let elem of genoma.combinacion ; index as i" 
                    [ngClass]="elem.nombre + '-bg'"
                    ></a>
                </div>
            </div>
        </div>
        <div class="two wide column">
            <div class="ui center aligned header">
                ->
            </div>
        </div>
        <div class="seven wide column">
            <div class="ui center aligned header">
                Poblacion Cruzada
            </div>
            <div class="ui center aligned container">
                <div *ngFor="let genoma of poblacionCruzada; index as i">
                    <a class="ui circular label small"
                        *ngFor="let color of genoma.combinacion ; index as i" 
                        [ngClass]="color.nombre + '-bg'"
                        >
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>